<!DOCTYPE html>
<html>
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/w3-theme-blue-grey.css') }}">
<link rel='stylesheet' href="{{ url_for('static',filename='styles/opensans.css') }}">
<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
	article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
</style>
<body class="w3-theme-l5">

	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
			<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
			<a class="w3-bar-item w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News Feed"><!-- <i class="fa fa-globe"></i> -->News Feed</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Room Allocation"><!-- <i class="fa fa-user"></i> -->Room Allocation</a>
			<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><!-- <i class="fa fa-envelope"></i> -->Messages</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
</div>
<a href="url_for('logout')" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout">Logout
	<!--     <img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">-->
</a>
</div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
	<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
	<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
	<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
	<a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
	<!-- The Grid -->
	<div class="w3-row">
		<!-- Left Column -->
		<div class="w3-col m3">
			<!-- Profile -->
			<div class="w3-card w3-round w3-white">
				<div class="w3-container">
					<h4 class="w3-center">My Profile</h4>
					<p class="w3-center"><img src="{{ url_for('static',filename='styles/avatar3.png') }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
					<hr>
					<p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Batch of UG2k17</p>
					<p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Hyderabad</p>
					<p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> Dec 4, 1988</p>
				</div>
			</div>
			<br>

			<!-- Accordion -->
			<div class="w3-card w3-round">
				<div class="w3-white">
					<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Circles</button>
					<div id="Demo1" class="w3-hide w3-container">
						<p>D-Block</p>
						<p>OBH</p>
					</div>
        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
        <div id="Demo3" class="w3-hide w3-container">
        	<div class="w3-row-padding">
        		<br>
         <div class="w3-half">
         	<img src="mountains.jpg" style="width:100%" class="w3-margin-bottom">
         </div>
     </div>
 </div>
</div>      
</div>
<br>
    <!-- End Left Column -->
</div>

    <div class="w3-col m7">
    	<div class="w3-row-padding">
    		<div class="w3-col m12" id="wall">
    			<div class="w3-card w3-round w3-white">
    				<!--insert here navbar-->
    				<div class="w3-container w3-padding">
    					<!-- <h6 class="w3-opacity">How are you feeling today?</h6> -->
    					<form>
              				<table>
              					<tr>
              						<td>
				              			<h6 class="w3-opacity">How are you feeling today?</h6>
            				  		</td>
              					</tr>
              					<tr>
              						<td>
              							<textarea class="w3-border w3-padding" type="text" placeholder="Write a post" rows="5" cols="40" id="msgpost"></textarea>
              						</td>
              					</tr>
              					<tr>
              						<td>
                                        <hr class="w3-clear">
                                        <h6 class="w3-opacity">Upload an image</h6>
                                        <form>
                                        <img id="blah" src="#" alt="" />
                                        <input type='file' id="blah2" onchange="readURL(this);" />
                                        </form>
                                    </td>
              						<script>
              							function readURL(input) {
      							            if (input.files && input.files[0]) {
      							                var reader = new FileReader();
      							                reader.onload = function (e) {
      							                    $('#blah')
      							                        .attr('src', e.target.result)
      							                        .width("10%")
      							                        .height("10%");
      							                };
      							                reader.readAsDataURL(input.files[0]);
      							            }
      							        }
              						</script>
              					</tr>
              					<tr>
              						<td>
              							<button type="button" class="w3-button w3-theme" onclick="myfunc();"><i class="fa fa-pencil"></i> &nbsp;Post</button>
              						</td>
              					</tr>
              				</table>
          				</form>
      				</div>
  				</div>
			</div>
		</div> 

<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
	<h5>Hostel Management Portal</h5>
</footer>

<footer class="w3-container w3-theme-d5">
	<p>Created by Rutwik and Surendra</p>
</footer>

</body>
</html> 
