{% extends "base2.html" %}

{% block content %}
    <h1 class="heading">Room Allocation</h1>
    <form action="" method="post">
        <fieldset class="field">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <p class = "password">
                {{ form.roomno(size=32,placeholder=">100 and < 133 or >200 and < 233 or >300 and < 333") }}<br>
                {% for error in form.roomno.errors %}
                <span style="color:red;">[{{error}}]</span><br>
                {% endfor %}
            </p>
            <p class="submit">{{ form.submit() }}</p>   
        </fieldset>
        
    </form>
{% endblock %}